<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.chaser.admin.api.mapper.UmsMenuFuncRelationMapper">
    <select id="getMenuFunc" resultType="top.chaser.admin.api.controller.response.MenuFuncGetRes">
        select b.id, b.name, b.code
        from ums_menu_func_relation a,
             ums_func b
        where a.func_id = b.id
          and a.menu_id = #{menuId}
        order by a.func_id desc
    </select>
</mapper>

